* {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-family: "Roboto Mono", monospace;
}

button {
	transition: ease-in-out background-color 50ms;
	border: solid 1px black;
	width: max-content;
	box-sizing: border-box;
	height: 40px;
	font-size: larger;
	cursor: pointer;
	width: 160px;
	box-shadow: 2px 2px 4px 1px rgba(166, 166, 141, 0.65);
}

button:active {
	background-color: rgba(171, 117, 99, 0.5);
}

button:hover {
	border: solid 2px black;
}

footer {
	background-color: #a6a68d;
	position: fixed;
	width: 100%;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0 0 -10px;
	padding: 10px;
}

h1 {
	font-size: 5em;
	text-align: center;
	width: fit-content;
	margin: 20px auto;
}

a:hover {
	transform: translateY(-2px);
}

.active-rainbow {
	background: linear-gradient(
		260deg,
		#ff2400,
		#e81d1d,
		#e8b71d,
		#e3e81d,
		#1de840,
		#1ddde8,
		#2b1de8,
		#dd00f3,
		#dd00f3
	);
	background-size: 1800% 1800%;
	animation: rainbow 20s ease infinite;
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

.active-btn {
	background-color: pink;
}

.cell {
	background-color: white;
	transition: ease-in background-color 75ms;
}

.etch-border {
	box-shadow: 2px 2px 4px 4px rgba(166, 166, 141, 0.65);
}

.etch-container {
	display: grid;
	height: 500px;
	width: 500px;
	cursor: crosshair;
}

.footer-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer-content > * {
	display: flex;
	padding: 10px;
	height: 20px;
	font-size: 20px;
	justify-content: center;
	align-items: center;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: fit-content;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-left: 20px;
}

.options-container {
	display: flex;
	width: fit-content;
	flex-direction: column;
	margin: auto;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	gap: 5px	;
}

#optionsAndPause {
	display: flex;
}

#pause {
	opacity: 30%;
	width: fit-content;
	padding: 10px;
}

#size {
	width: 270px;
	display: flex;
	align-items: center;
}

#size > span {
	padding: 8px;
	width: 20px;
	text-align: center;
}

#size-slider-txt {
	margin-right: 10px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 6px;
	top: 0px;
}

input[type="color"] {
	border: 0px;
	background-color: transparent;
	width: 160px;
	height: 40px;
	cursor: pointer;
	box-shadow: 2px 2px 4px 1px rgba(166, 166, 141, 0.65);
}

input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	background-color: #a6a68d;
	height: 10px;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 20px;
	box-shadow: 2px 2px 4px 1px rgba(166, 166, 141, 0.65);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #a6a68d;
	border: solid 1px black;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	transition: height 50ms ease-in-out;
	box-shadow: 2px 2px 4px 1px rgba(166, 166, 141, 0.65);
}

input[type="range"]::-webkit-slider-thumb:active {
	height: 25px;
}

@media screen and (max-width: 1600px) {
	.all {
		flex-direction: column;
	}

	.etch-container {
		width: 500px;
		height: 500px;
	}
}

@media screen and (max-width: 1050px) {
	h1 {
		font-size: 40px;
	}

	.etch-container {
		width: 350px;
		height: 350px;
	}

	.main-container {
		flex-direction: column;
	}
	.option {
		padding: 10px;
	}

	.options-container {
		margin-top: 10px;
	}
}

@media screen and (max-width: 800px) {
	.option {
		padding: 5px;
	}

	footer {
		bottom: 0;
		height: 20px;
	}
}

@media screen and (max-width: 370px) {
	button {
		height: 20px;
		font-size: 10px;
		width: 90px;
	}
	input[type="color"] {
		border: 0px;
		background-color: transparent;
		width: 100px;
		height: 30px;
		cursor: pointer;
	}
	input[type="range"] {
		-webkit-appearance: none;
		background: transparent;
		background-color: #a6a68d;
		height: 10px;
		cursor: pointer;
		border-radius: 4px;
		margin-right: 0;
		width: 100px;
	}

	input[type="range"]::-webkit-slider-thumb {
		width: 10px;
	}
	#size > span {
		display: none;
	}
	#size-slider-txt {
		display: none;
	}
	#created-by {
		display: none;
	}
}

@media screen and (max-height: 1100px) {
	footer {
		position: relative;
		background-color: transparent;
	}
}
