* {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-family: "Roboto Mono", monospace;
}

body {
	background-color: #f4f4eb;
}

button {
	transition: ease-in-out background-color 50ms;
	border: solid 1px black;
}

h1 {
	font-size: 5em;
	text-align: center;
}

button:active {
	background-color: rgba(171, 117, 99, 0.5);
}

button:hover {
	border: solid 2px black;
}

.active-btn {
	background-color: pink;
}

.cell {
	background-color: white;
	transition: ease-in background-color 50ms;
}

.etch-border {
	box-shadow: 2px 2px 4px 4px rgba(166, 166, 141, 0.65);
}

.etch-container {
	display: grid;
	height: 800px;
	width: 800px;
	cursor: crosshair;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: fit-content;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 100%;
	margin-left: 0px;
}

.option.active {
}

.options-container {
	display: flex;
	width: fit-content;
	flex-direction: column;
	margin: auto;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

#reset-btn,
#eraser-btn {
	width: max-content;
	box-sizing: border-box;
	height: 40px;
	font-size: larger;
	cursor: pointer;
	width: 160px;
}

#size {
	width: 270px;
	display: flex;
	align-items: center;
}

#size-slider-txt {
	margin-right: 10px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 6px;
	top: 0px;
}

#size > span {
	padding: 8px;
	width: 20px;
	text-align: center;
}

input[type="color"] {
	border: 0px;
	background-color: transparent;
	width: 160px;
	height: 40px;
	cursor: pointer;
}

input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	background-color: #a6a68d;
	height: 10px;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 20px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #a6a68d;
	border: solid 1px black;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	transition: height 50ms ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
	height: 25px;
}

@media screen and (max-width: 1600px) {
	.all {
		flex-direction: column;
	}

	.etch-container {
		width: 700px;
		height: 700px;
	}
}

@media screen and (max-width: 1050px) {
	h1 {
		font-size: 40px;
	}

	.etch-container {
		width: 550px;
		height: 550px;
	}

	.main-container {
		flex-direction: column;
	}
	.option {
		padding: 10px;
	}

	.options-container {
		margin-top: 10px;
	}
}

@media screen and (max-width: 800px) {
	.etch-container {
		width: 450px;
		height: 450px;
	}

	.option {
		padding: 5px;
	}
}
